<domain type='xen' >
    <name>{{name}}</name>
    <os>
        <type>linux</type>
    </os>
    <memory>{{memory}}</memory>
    <vcpu>{{num_cpu}}</vcpu>
    <network>
        <name>default</name>
        <bridge />
        <forward mode="nat" />
        <ip>
            <dhcp />
        </ip>
    </network>
    <devices>
        <disk type='file'>
            <source file='{{image_path}}'/>
            <target dev='xvda1'/>
        </disk>
    </devices>
</domain>
